################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/out/
/code/out/
/fonts
/sound
/ui
/*.mix
/*.pal
/*.ini
/*.exe
/*.ilk
/*.dat
/savegame*

